/* Global */
@import url("global/bg-hero.css");
@import url("global/footer.css");

/* Componentes */
@import url("components/tailwind.css");
@import url("components/colors.css");
@import url("components/typography.css");
@import url("components/components.css");
@import url("components/burger-menu.css");
@import url("components/social-links.css");
@import url("components/aos.css");

/* Homepage */
@import url("homepage/sobre.css");
@import url("homepage/projects.css");
@import url("homepage/sidebar.css");
@import url("homepage/home.css");
@import url("homepage/summary.css");
@import url("homepage/tecnologias.css");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar-track {
  background-color: var(--color-bg);
}
::-webkit-scrollbar {
  width: 6px;
  background: var(--cor-6);
}
::-webkit-scrollbar-thumb {
  background: #dad7d7e8;
  border-radius: 1000em;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
h5,
h6 {
  letter-spacing: 2px;
}
body {
  font-size: 1.6rem;
  background-color: var(--color-bg);
  color: var(--color-body);
  line-height: 1.5;
  font-family: var(--font-base), sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-brand);
  transition: all 0.4s ease;
  font-size: 500;
}

a:hover {
  color: var(--color-brand2);
}

img {
  max-width: 100%;
  width: 100%;
  display: inline-block;
}
p {
  letter-spacing: 0px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 200;
}
.container {
  padding: 0 4.4rem;
  margin-left: 20px;
  width: auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 2.4rem;
  }
}
@media (max-width: 350px) {
  .show * {
    font-size: 1rem;
  }

  .summary .container * {
    font-size: 1rem;
  }
  h5,
  h6,
  p,
  .heading-3,
  .heading-1,
  .paragraph {
    font-size: 1.9rem;
  }
  .summary .paragraph {
    font-size: 1.9rem;
  }
  .grid-7 {
    font-size: 1rem;
  }
}
.container .btn {
  padding: 1.4rem 2.4rem;
  background-color: var(--color-brand);
  color: var(--color-bg2);
  background: linear-gradient(224.78deg, #4271eb 8.12%, #6bbaff 92.21%);
  text-transform: uppercase;
  font-weight: 500;
  border-radius: var(--border-radius);
  border: transparent;
  font-size: 1.6rem;
  font-family: var(--font-base);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-brand2);
  color: var(--color-bg2);
}

/* Main */
#content-wrapper {
  padding-left: 24rem;
}

@media screen and (max-width: 992px) {
  .burger {
    display: grid;
  }

  #content-wrapper {
    padding-left: 0;
  }
}

.logo-w {
  fill: transparent;
  -webkit-animation: logo 8s ease infinite alternate;
  animation: logo 8s ease infinite alternate;
}

.logo-w-stroke {
  -webkit-animation: logo 8s ease infinite alternate;
  animation: logo 8s ease infinite alternate;
}

#logo-p {
  fill: color-mix(in srgb, #4271eb 38.12%, #6bbaff 62.21%);
  -webkit-animation: logo 8s ease infinite alternate;
  animation: logo 8s ease infinite alternate;
}

@-webkit-keyframes logo {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
  }
  25% {
    stroke-width: 1;
    fill: transparent;
    stroke-dasharray: 100 0;
  }
  60%,
  100% {
    stroke-width: 2;
    fill: color-mix(in srgb, #4271eb 38.12%, #6bbaff 62.21%);
  }
}

@keyframes logo {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 1;
    fill: transparent;
    stroke-dasharray: 100 0;
  }
  60%,
  100% {
    stroke-width: 2;
    fill: color-mix(in srgb-linear, #4271eb 38.12, #6bbaff 62.21%);
  }
}
@-webkit-keyframes loop {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes loop {
  100% {
    transform: translateX(-100%);
  }
}

.loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  overflow: hidden;
}
.loader svg {
  max-width: 15rem;
  overflow: hidden;
}
