.lista-item {
  max-width: 1600px;
  padding: 16px 24px;
  position: relative;
}
.projects-title h2 {
  text-transform: none;
  font-size: 48px;
  line-height: 120%;
  font-weight: 300;
}

.projects h3 {
  text-transform: none;
  font-size: 48px;
  line-height: 120%;
  font-weight: 200;
  text-transform: uppercase;
}
.img-project {
  max-width: 650px;
  border-radius: 4px;
  position: absolute;
  top: 30%;
  left: 80%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) translate3d(-1000px, 0, 0)
    skewX(30deg);
  transform: translate(-50%, -50%) translate3d(-1000px, 0, 0) skewX(30deg);
  z-index: -1;
}
.lista-item a:hover + .img-project {
  -webkit-transform: translate(-50%, -50%) translate3d(0, 0, 0);
  transform: translate(-50%, -50%) translate3d(0, 0, 0);
  opacity: 1;
  top: 50%;
  left: 61%;
}

.lista-item span {
  font-weight: 100;
}
.list h5 {
  font-family: var(--font-base2);
}
@media (max-width: 1200px) {
  .projects-title h2 {
    text-transform: none;
    font-size: 48px;
    line-height: 120%;
    font-weight: 300;
    font-size: clamp(3.5rem, 3.5vw, 4rem);
  }
  .projects h3 {
    text-transform: none;
    font-size: 48px;
    line-height: 120%;
    font-weight: 200;
    text-transform: uppercase;
    font-size: clamp(3rem, 3vw, 3.8rem);
  }
}
@media (max-width: 800px) {
  #trabalhos {
    min-height: 0vh;
  }
  .lista-item span {
    display: none;
  }
  .projects-title h2 {
    text-transform: none;
    line-height: 120%;
    font-weight: 300;
    font-size: 30px;
  }
  .projects h3 {
    text-transform: none;
    font-size: 48px;
    line-height: 120%;
    font-weight: 200;
    text-transform: uppercase;
    font-size: clamp(2.5rem, 3vw, 3.8rem);
  }
  .projects-title h6 {
    font-size: 18px;
    line-height: 120%;
    font-weight: 300;
  }
}
