.techs h2 {
  text-transform: none;
  font-size: 48px;
  line-height: 120%;
  font-weight: 300;
}
.techs h6 {
  font-weight: 300;
}

@media (max-width: 800px) {
  .techs h2 {
    text-transform: none;
    font-size: 48px;
    line-height: 120%;
    font-weight: 200;
    font-size: clamp(3rem, 3.5vw, 4rem);
  }
  .techs h6 {
    font-size: 18px;
    letter-spacing: 2px;
  }
}
